
<div class="conteiner-navmac" >
        <a (click)="redireccionar('principal')"><img class="icon" src="../../../assets/img/Home-icon.png" /></a>
        <a (click)="redireccionar('vistas/galeria')"><img class="icon" src="../../../assets/img/carpetaimgnavmac.png" /></a>
        <a><img class="icon" src="../../../assets/img/Icono_musica.png" /></a>
        <a (click)="redireccionar('vistas/login')"><img class="icon" src="../../../assets/img/989366-loginIcono.png" /></a>
        <a (click)="redireccionar('vistas/miBase')"><img class="icon" src="../../../assets/img/accept-database.png" /></a>
        <a href="http://www.gmail.com"><img class="icon" src="../../../assets/img/gmailnavmac.png" /></a>
</div>
